.heading {
  padding-top: 20px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  &__item {
    padding-top: 34px;
    padding-left: 8px;
    background-color: white;
  }

  &__skeleton {}

  &__meta {}
}
