#__next {
  height: 100%;
}

.ant-list-split {
  .ant-list-item {
    border-bottom-color: #ddd;
  }
}

.ant-list-item-meta-content {
  @media all and (max-width: 600px) {
    width: initial;
    padding-bottom: 20px;
  }
}